*{
  margin: 0;
}    
html{
  background-color: #707070;
  
}    
p{
  display: inline;
}    

a{
  color: #707070;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 937px;
}

.SignUp{
  width: 440px;
  height: 715px;
  background-color: #d8c8a3;
  text-align: center;
}    

.logo_conteiner{
  margin-top: 34px;
  position: relative;
  display: inline-block;
}    


.logo{
  display: inline-block;
}    

.icon_link{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}    

.icon_conteiner{
  margin-top: 39px;
  display: flex;
  position: relative;
  justify-content: center;
}    
.spacer{  
  width: 18px;
  height: 0px;
  display: inline-block;

}

.icon{
  position: relative;
}    

.formulari{
  margin-top: 40px;   
  width: 380px; 
  display: inline-block;
}    
.personalData-conteiner{
  display: flex;
}    
.personalData{
  height: 44px;
  width: 148px;
  border-radius: 6px;
  border: solid 2px #707070;

}    
.spacer-data{
  width: 4px;

}    

.userData{
  margin-top: 14px; 
  height: 44px;
  width: 340px;
  border-radius: 6px;
  border: solid 2px #707070;
      
}    

.datatext{
  padding-left: 18px;
  padding-right: 18px;
  font-size: 18px;

}    

.checkboxTerms-conteiner{
  margin-top: 21px;
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
}    


.checkboxEmail-conteiner{
  margin-top: 11px;
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
}        


.button{
  margin-top: 45px;
  width: 383px;
  height: 70px;
  font-size: 24px;
  color: #ffffff;
  background-color: #6e5d36;
  border-radius: 10px;
  border-width: 0px;
} 

.sign_in{
  margin-top: 15px;
  color: #ffffff;
  font-size: 16px;
}    


